<h1>Tareas</h1>


<table id="table" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">TO-DO</th>
      <th scope="col">DONE</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>


<script>
  homeTask();
</script>
